---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ayurveda for all">
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

	<!-- ======= Header ======= -->
	<header id="header">
	  
	  <div class="d-flex flex-column">
  
		<div class="profile">
		  <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle">
		  <h1 class="text-light"><a href="index.html">Jayendra Raut</a></h1>
		  <div class="social-links mt-3 text-center">
			<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
			<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
			<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
			<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
			<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
		  </div>
		</div>
  
		<nav id="navbar" class="nav-menu navbar">
		  <ul>
			<li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
			<li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
			<li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
			<li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Shop</span></a></li>
			<li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Diseases</span></a></li>
			<li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
		  </ul>
		</nav><!-- .nav-menu -->
	  </div>
	</header><!-- End Header -->
   <div id="main">
    <div style="display: flex; justify-content: center;">
    <img src="bg.jpg" alt="">
    </div>
    <div class="section-title ">
		<h2>Consult A vaidya, At your Ease</h2>
		<p>Food is fuel for the body, and the stomach is one of the most important organs for your overall health and happiness. An efficient digestive system produces healthy tissues (Dhatus), which contributes to the formation of Ojas—the essence of immunity & good health.


            In Ayurveda, weak digestion is known as Agnimandya—meaning weakened digestive fire, which cannot convert rasa (nutrients) to life-sustaining Ojas. In addition to being the causative factor in several diseases, weak digestion is a health problem in itself. Treatment of digestive problems at Jiva Ayurveda is effective because it identifies the root-cause first, and then treats it with 100% customized medicines, along with special diet and lifestyle plans that are designed to complete your treatment.</p>
	  </div>
      <section id="services" class="services">
		<div class="container">
  
		  <div class="section-title">
			<h2>More Diseases</h2>
			<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
		  </div>
  
		  <div class="row">
			<div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" onclick="location.replace('dieases.html')">
			  <div class="icon"><img src="assets/img/liver2.svg" style="width:100% ;" alt=""></div>
			  <h4 class="title"><a href="dieases.html">Lorem Ipsum</a></h4>
			  <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
			</div>
			<div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
			  <div class="icon"><img src="assets/img/lungs.svg" style="width:100% ;" alt=""></div>
			  <h4 class="title"><a href="">Dolor Sitema</a></h4>
			  <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
			</div>
			<div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
			  <div class="icon"><img src="assets/img/bones.svg" style="width:100% ;" alt=""></div>
			  <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
			  <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
			</div>
			<div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
			  <div class="icon"><img src="assets/img/pan.svg" style="width:100% ;" alt=""></div>
			  <h4 class="title"><a href="">Magni Dolores</a></h4>
			  <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
			</div>
			<div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
			  <div class="icon"><img src="assets/img/hair.svg" style="width:100% ;" alt=""></div>
			  <h4 class="title"><a href="">Nemo Enim</a></h4>
			  <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
			</div>
			<div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
			  <div class="icon"><img src="assets/img/brain.svg" style="width:100% ;" alt=""></div>
			  <h4 class="title"><a href="">Eiusmod Tempor</a></h4>
			  <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
			</div>
		  </div>
  
		</div>
	  </section>
   </div>
</Layout>